<style>

html 
    {font-size: 100%;
    }

body 
    {display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 30px;
    margin-left:80px;
    margin-right:80px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
        
header 
    {grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    }    

nav
    {width: 100%;
    position: sticky;
    top: 0px;
    }

ul 
    {font-size: 1.1rem;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    }

a  
    {text-decoration:none;
    color: black;
    }

p  
    {font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
    }

h3 
    {font-size: 1.5rem;
    font-family:'Yusei Magic', sans-serif;
    }

h4 
    {font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    }

#menu 
    {grid-column: 1/3;
    grid-row: 2/3;
    background:linear-gradient(#F3DBCF, #E5C1CD, #C9BBC8);
    } 

#moi 
    {grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 30px;
    }  
    
#school 
    {grid-column: 2/3;
    grid-row: 3/4;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 30px;
    }  
             
#footer 
    {grid-column: 1/3;
    grid-row: 4/5;
    background:linear-gradient(100deg, #F3DBCF, #E5C1CD, #C9BBC8);
    }

#laurineturturean 
    {text-align: center; 
    font-size: 4rem;
    font-family:'Caveat Brush', cursive;
    color: lightpink;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    }

#cv 
    {font-size: 9rem;
    font-family:'Silent Landfield';
    margin-bottom: auto;
    margin-top: auto;
    color: #C0C0C0;
    }

#menu1 
    {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 2rem;
    justify-content: space-around;
    font-family:'Nunito', sans-serif;
    font-size: 1.3rem;
    }

#rs 
    {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-indent: 20px;
    font-family: cursive;
    font-size: 1.3rem;
    padding-left: 70px;
    margin: 0rem;
    }

#contact1 
    {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }

#width 
    {width: 150px;
    }

#mapp 
    {width="250px"; 
    height="100px";
    }

.vertical-line 
    {border-left: 2px solid #000;
    display: inline-block;
    height: 30px;
    }

.titre 
    {text-align: center;
    font-size: 3rem;
    font-family:'Cabin Sketch', cursive;
    font-weight: normal;
    color:#c7c3e3;
    border: solid;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    }

.titre1 
    {text-align: center;
    font-size: 3rem;
    font-family:'Cabin Sketch', cursive;
    font-weight: normal;
    color:#c7c3e3;
    border: solid;
    margin-bottom: 2.5rem;
    margin-top: 5.5rem;
    }

.center 
    {text-align: center;
    }

.espace 
    {padding:0px;
    }

.puces 
    {list-style-type: disc;
    }

.width 
    {width: 100px;
    }

.width1
    {width: 30px;
    }

.width2 
    {width: 21px;
    }

.texte 
    {text-align: justify;
    }

</style>        