   <style>
 
html {
    font-size: 100%;
    width: 100%;}

ul {list-style: none;}

h1 {font-size: 1.7rem;
    font-family: cursive;
    font-weight: bold;}

h2 {font-size: 1.7rem;
    font-family: cursive;
    font-weight: bold;}


h3 {font-size: 1.1rem;
    font-family: serif;
    font-weight: bold;}

h4 {font-size: 1rem;
    font-family: serif;}

.menu {display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-family: cursive;
      font-size: 1.3rem;
      padding:0;}

.rs {display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-indent: 20px;
      font-family: cursive;
      font-size: 1.3rem;}
     
a   {text-decoration:none;
     color: black;}

.style {color: #000000;
        font-family:serif;}

.center {text-align: center;}

.contact {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;}

.espace {padding:0;}

.puces {list-style-type: disc;}

.width { 
    width: 80px;}

.taille { 
    width: 30px;}

.photo { 
    width: 150px;}

.petit {width: 21px;}

.texte {text-align: justify;}

#mapp {width="250px"; 
       height="100px";}

      </style>
        